target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Avoid IDE configs
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
bin/
.metadata/

# Log files
*.log

# OS files
.DS_Store
Thumbs.db
